@model IEnumerable<GameConsuleWebStore.Models.User>

@{
    ViewData["Title"] = "Index";
}

    <form asp-action="SearchByUserType">
        <div class="row">
            <div class="col-md-3">
                <p><b>Filter By User Type:</b></p>
                <select name="TypeUserSelect" id="UserSelect">
                    <option value="">--Choose--</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </div>

            <div class="col-md-3">
                <p><b>Filter By User Name:</b></p>
                <input type="text" name="UserNamesSelect" id="UserNameSelect" placeholder="UserName" />
            </div>
            <div class="col-md-3">
                <p><b>Filter By Name:</b></p>
                <input type="text" name="NamesSelect" id="NameSelect" placeholder="Name" />
            </div>
            <div class="col-md-3">
                <a href=Items/SearchByUserType>
                    <input type="submit" value="Filter" class="btn btn-dark" />
                </a>
            </div>
            </div>
</form>

<br />
<hr />
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
