@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameConsuleWebStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @*------ Nav Bar --------*@
        <div class="top">
            <img src="~/images/logo.svg" alt="logo">
            <img src="~/images/Xbox_logo_(2019).png" alt="logo" id="logoxbox">
            <img src="~/images/Nintendo_red_logo.png" alt="logo" id="logonintendo">
        </div>
        <div class="navigation">
            <nav>
                <ul id="main_menu">
                    <li><img src="~/images/psLogo.png"></li>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                    <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                    @*<li><a asp-controller="ShoppingCarts" asp-action="Index">Shop</a></li>*@
                    <li><a href="#">Statistics</a></li>
                    @{
                        if (Context.Session.GetString("UserType") == "Admin")
                        {
                            <li>
                                @*<a asp-controller="Users" asp-action="Dashboard">Dashboard</a>*@
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dashboard
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" asp-controller="Users" asp-action="Index">Edit Users</a>
                                        <hr />
                                        <a class="dropdown-item" asp-controller="Products" asp-action="Index">Edit Products</a>
                                        <hr />
                                        <a class="dropdown-item" asp-controller="Orders" asp-action="Index">Edit Orders</a>
                                    </div>
                                </div>
                            </li>

                        }
                        else
                        {

                        }
                    }
                </ul>
            </nav>

            @{
                if (Context.Session.GetString("UserName") != null)
                {

                        <div style="margin-right:-300px">
                            <img id="ShopCartImg" src="~/images/shopping-cart-of-checkered-design.svg" style="width:30px;height:auto" />
                            <a id="ShopCartLink" asp-controller="ShoppingCart" asp-action="Index">Cart</a>

                            @{
                                if (@Context.Session.GetString("CartNumOfItems") == null)
                                {
                                    <b>(0)</b>
                                }
                                else
                                {
                                    if (@Context.Session.GetString("CartNumOfItems").Equals("0"))
                                    {
                                        <b>(0)</b>
                                    }
                                    else
                                    {
                                        <b>(@Context.Session.GetString("CartNumOfItems"))</b>
                                    }
                                }
                            }
                        </div>
                    <div class="dropdown" style="margin-right:-300px">
                        <button class="btn dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="UserImgConnected" src="~/images/UserLogoConnected.png" />
                            <b>@Context.Session.GetString("UserName")</b>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Users" asp-action="Edit" asp-route-id="@Context.Session.GetString("UserId")">Edit User Details</a>
                            <hr />
                            <a class="dropdown-item" asp-controller="Orders" asp-action="Details" asp-route-id="@Context.Session.GetString("UserId")">My Order's</a>
                            <hr />
                            <a class="dropdown-item" asp-controller="Users" asp-action="LogOut">Log Out</a>
                        </div>
                    </div>
                    <div class="header_options">
                        <a asp-controller="Users" asp-action="LogOut">Log Out</a>
                    </div>
                }
                else
                {
        <div style="margin-right:-300px">
            <img id="ShopCartImg" src="~/images/shopping-cart-of-checkered-design.svg" style="width:30px;height:auto" />
            <a id="ShopCartLink" asp-controller="ShoppingCart" asp-action="Index">Cart</a>

            @{
                if (@Context.Session.GetString("CartNumOfItems") == null)
                {
                    <b>(0)</b>
                }
                else
                {
                    if (@Context.Session.GetString("CartNumOfItems").Equals("0"))
                    {
                        <b>(0)</b>
                    }
                    else
                    {
                        <b>(@Context.Session.GetString("CartNumOfItems"))</b>
                    }
                }
            }
        </div>

                    <div class="header_options">
                        <a asp-controller="Users" asp-action="Register">Sign up</a>
                        <a asp-controller="Users" asp-action="Login">Login</a>
                    </div>
                }
            }


        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GameConsuleWebStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
