@model GameConsuleWebStore.Models.Order
@using GameConsuleWebStore.Controllers
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Create";
}

<h4>New Order Creating</h4>
<hr />

<div class="row"><b>Products You Choose:</b></div>
<br />
<div class="row">
    @foreach (Item item in ViewBag.itemsForOrder)
    {
        <div class="col-md-4">
            <!-- Box -->
            <div class="box">
                <div class="imageContainer">
                    <div class="image">
                        <img class="imgViewGameIndex" src="~/images/@Html.DisplayFor(model => item.Product.pathPicture)" />
                    </div>
                    <div class="actions">
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.ProductId"><img class="onPicOverViewGameIndex" src="~/images/information.svg" /></a>
                    </div>
                </div>
                <div class="NameAndPriceBox">
                    <p style="text-align:center">
                        <b>
                            @Html.DisplayFor(model => item.Product.Name) <b>  |  </b>
                            @Html.DisplayFor(model => item.Product.Price)$
                        </b>
                    </p>
                    <p style="text-align:center">
                        <b>
                            Qty: @Html.DisplayFor(model => item.Quantity)
                        </b>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-3"><b>Total Amount: </b>@Math.Round((ViewBag.TotalAmountForOrder), 2)$</div>
    <div class="col-md-1"></div>
</div>
<div class="row"></div>

    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly" value="@Context.Session.GetString("UserName")@Context.Session.GetString("UserId")-@ViewBag.DateDayCurrently/@ViewBag.DateMonthCurrently/@ViewBag.DateYearCurrently" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ProductId" class="control-label" hidden></label>
                <select name="ProductId" class="form-control" asp-items="ViewBag.ProductId" multiple hidden></select>
            </div>

                <input type="submit" value="Create Order" class="btn btn-outline-success" />

                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="ShoppingCart" style=" width: 191px; margin-left: 10px;">Back to Shopping Cart</a>

        </form>
    </div>
<br />
<div>
    <p style="color:red">@ViewBag.AlertForCreating</p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
