@model GameConsuleWebStore.Models.Order
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOrder)
        </dd>
    </dl>

    <dl>
        <dd class="col-sm-12">
            <b>Product You Have Ordered : </b>
        </dd>
    </dl>

    <div class="row">
        @foreach (Product item in ViewBag.ProductsListDetails)
        {
            <div class="col-md-4">
                <!-- Box -->
                <div class="box">
                    <div class="imageContainer">
                        <div class="image">
                            <img class="imgViewGameIndex" src="~/images/@Html.DisplayFor(model => item.pathPicture)" />
                        </div>
                        <div class="actions">
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId"><img class="onPicOverViewGameIndex" src="~/images/information.svg" /></a>
                        </div>
                    </div>
                    <div class="NameAndPriceBox">
                        <p style="text-align:center">
                            <b>
                                @Html.DisplayFor(model => item.Name) <b>  |  </b>
                                @Html.DisplayFor(model => item.Price)$
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>






</div>
@*<div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
